* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .barra-navegacion {
    background: #87ced9;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    position: relative;
  }
  
  .circulo {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .rojo {
    background: #f26a4f;
  }
  
  .gris-claro {
    background: #c1c1c1;
  }
  
  .barra-busqueda {
    background: white;
    height: 12px;
    width: 400px;
    margin-left: 10px;
  }
  
  .iconos {
    background: #c1c1c1;
    height: 15px;
    width: 40px;
    position: absolute;
    right: 20px;
  }
  
  header .hero {
    background: #ffd578;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 60px;
  }
  
  .cuadro-izq {
    background: #ffc65b;
    width: 150px;
    height: 150px;
  }
  
  .texto-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .texto-hero .linea {
    height: 12px;
    background: white;
    margin: 10px 0;
    width: 400px;
  }
  
  .texto-hero .linea-color {
    background: #ffc65b;
    width: 220px;
    height: 20px;
    margin-bottom: 20px;
  }
  
  .texto-hero .corta {
    width: 250px;
  }
  
  .texto-hero .larga {
    width: 450px;
  }

  main.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px;
    justify-items: center;
    background: white;
  }
  
  .card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    height: 12px;
    width: 100%;
  }
  .azul {
    background: #c2f0f3;
  }
  
  .azul::before {
    background: #a6e0e7;
  }
  
  .azul-int {
    background: #a6e0e7;
  }
  
  .rojo {
    background: #ffa98a;
  }
  
  .rojo::before {
    background: #f26a4f;
  }
  
  .rojo-int {
    background: #f26a4f;
  }
  
  .amarillo {
    background: #ffe28d;
  }
  
  .amarillo::before {
    background: #ffc65b;
  }
  
  .amarillo-int {
    background: #ffc65b;
  }
  
  .interior {
    width: 60px;
    height: 60px;
    opacity: 0.9;
  }
  
  footer {
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
  }
  
  .columna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .barra {
    height: 8px;
    border-radius: 4px;
    background: #bdbdbd;
  }
  
  .grande {
    width: 100px;
    background: #c1c1c1;
  }
  
  .media {
    width: 80px;
  }
  
  .chica {
    width: 60px;
    background: white;
 }
